{% for backend in haproxy.backends %}
backend {{ backend.name }}
    mode {{ backend.mode }}
    fullconn 100000
{% for server in haproxy.backend_node_sets[backend.node_set] %}
    server {{ server }} {{ server }}:{{ backend.backend_port }} check inter 500 fall 1 rise 2
{% endfor %}
{% endfor %}