global
  log /dev/log  local0
  log /dev/log  local1 notice
  nbproc {{ haproxy.processes }}
{% for process in range(haproxy.processes) %}
{% if loop.index <= ansible_processor_cores %}
  stats socket {{ haproxy.socket }}-{{ loop.index }} group haproxy mode 660 level admin process {{ loop.index }}
{% endif %}
{% endfor %}
{% for process in range(haproxy.processes) %}
{% if loop.index <= ansible_processor_cores %}
  cpu-map {{ loop.index }} {{ process }}
{% endif %}
{% endfor %}
{% if haproxy.chroot != '' %}
  chroot {{ haproxy.chroot }}
{% endif %}
  user {{ haproxy.user }}
  group {{ haproxy.group }}
  daemon
{% for global_var in haproxy.global_vars %}
  {{ global_var }}
{% endfor %}

listen stats {{ hostvars[inventory_hostname]['ansible_'+private_iface]['ipv4']['address'] }}:9090
    balance
    mode http
    stats enable
    stats auth admin:nimda
    stats uri /haproxy_stats

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
  timeout connect                 {{ haproxy.timeout_connect }}
  timeout http-request            {{ haproxy.timeout_http_request }}
  timeout client                  {{ haproxy.timeout_client }}
  timeout server                  {{ haproxy.timeout_server }}
  timeout queue                   {{ haproxy.timeout_queue }}
  timeout check                   {{ haproxy.timeout_check }}
